In [54]:
import pandas as pd
data=pd.read_csv('housing.csv')


data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [55]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [39]:
median_bedrooms = data['total_bedrooms'].median()
data['total_bedrooms'].fillna(median_bedrooms, inplace=True)

C:\Users\ganti\AppData\Local\Temp\ipykernel_18268\294160849.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['total_bedrooms'].fillna(median_bedrooms, inplace=True)

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [41]:
data_encoded = pd.get_dummies(data, columns=['ocean_proximity'], drop_first=True, dtype=int)

In [56]:
X = data_encoded.drop('median_house_value', axis=1)
y = data_encoded['median_house_value']
X,y

(       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
 0        -122.23     37.88                41.0        880.0           129.0
 1        -122.22     37.86                21.0       7099.0          1106.0
 2        -122.24     37.85                52.0       1467.0           190.0
 3        -122.25     37.85                52.0       1274.0           235.0
 4        -122.25     37.85                52.0       1627.0           280.0
 ...          ...       ...                 ...          ...             ...
 20635    -121.09     39.48                25.0       1665.0           374.0
 20636    -121.21     39.49                18.0        697.0           150.0
 20637    -121.22     39.43                17.0       2254.0           485.0
 20638    -121.32     39.43                18.0       1860.0           409.0
 20639    -121.24     39.37                16.0       2785.0           616.0

        population  households  median_income  ocean_proximity_INLAND  \
 0           322.0       126.0         8.3252                       0
 1          2401.0      1138.0         8.3014                       0
 2           496.0       177.0         7.2574                       0
 3           558.0       219.0         5.6431                       0
 4           565.0       259.0         3.8462                       0
 ...           ...         ...            ...                     ...
 20635       845.0       330.0         1.5603                       1
 20636       356.0       114.0         2.5568                       1
 20637      1007.0       433.0         1.7000                       1
 20638       741.0       349.0         1.8672                       1
 20639      1387.0       530.0         2.3886                       1

        ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
 0                           0                         1
 1                           0                         1
 2                           0                         1
 3                           0                         1
 4                           0                         1
 ...                       ...                       ...
 20635                       0                         0
 20636                       0                         0
 20637                       0                         0
 20638                       0                         0
 20639                       0                         0

        ocean_proximity_NEAR OCEAN
 0                               0
 1                               0
 2                               0
 3                               0
 4                               0
 ...                           ...
 20635                           0
 20636                           0
 20637                           0
 20638                           0
 20639                           0

 [20640 rows x 12 columns],
 0        452600.0
 1        358500.0
 2        352100.0
 3        341300.0
 4        342200.0
            ...
 20635     78100.0
 20636     77100.0
 20637     92300.0
 20638     84700.0
 20639     89400.0
 Name: median_house_value, Length: 20640, dtype: float64)

In [43]:
from sklearn.preprocessing import StandardScaler 
scaler=StandardScaler()

In [44]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [45]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [46]:
model=LinearRegression()

In [57]:
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_train_pred=model.predict(X_train)

test_results=pd.DataFrame(
    { 'predicted' : y_pred,
     ' actual ' : y_test }
)
test_results

           predicted   actual
20046   54560.136586   47700.0
3024   122939.978193   45800.0
15663  252588.015479  500001.0
20484  267738.637526  218600.0
9814   262688.273943  278000.0
...              ...       ...
17505  222245.125339  237500.0
13512   67158.728175   67300.0
10842  283840.433972  218400.0
16559  113960.406162  119400.0
5786   219047.401252  209800.0

[6192 rows x 2 columns]

In [48]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
import numpy as np
rmse = np.sqrt(mse) 
r2 = r2_score(y_test, y_pred)
print(f"R-squared (R²) Score: {r2:.4f}")
print(f"Root Mean Squared Error (RMSE): ${rmse:,.2f}")

R-squared (R²) Score: 0.6394
Root Mean Squared Error (RMSE): $68,800.65